/// Styles for the about timeline

.date {
  font-family: $axel-font;
  background: url('#{$img-path}circle.svg') center center no-repeat $off-white;
  background-size:contain;
  padding-bottom:13.8% + 1% - 5%;
  padding-top:5% + 1%;
  height:0;
  text-align: center;

  @include margin-bottom($spacing-large);
}
.entry {
  @include margin-top($spacing-xl);
  p {
    @include font-size($size-h3);
    line-height: $small-line-height;
  }
}

.timeline {
  background:url('#{$img-path}line-vertical.svg') 6.8% top repeat-y;
  background-size:12px 804px;
}

.timeline article:last-child {
  background:$off-white;
}

.images.two-columns { // TODO fallback for browsers that don't support CSS3 column layout
  column-count: 2;
  column-gap: 3.44%;
  column-fill: balance;
  .image {
    column-break-inside: avoid;
    display:inline-block;
    img {
      width:100%;
    }
  }
}

@include gs-media(s,max){
  .timeline {
    background:none;
  }
  .date {
    @include margin-bottom($spacing-small);
    padding-bottom:20% - 7.5%;
    padding-top:7.5%;
  }
  .entry {
    margin-top:0;
    @include margin-bottom($spacing-large);
    p {
      text-align:center;
    }
  }
}

@media only screen and (max-width:550px) {
  .images.two-columns {
    column-count:1;
  }
  .entry p {
    @include font-size($size-p);
  }
  .date h2 {
    @include font-size($size-p);
  }
}
