//// BOOKS PAGE (and single page) ////

.book-group {
  position:relative;
  overflow:hidden;

  a, a:visited {
    border:0;
    padding:0;

  }
  .img-holder {
    display:block;
    width:20%;
    height:0;
    padding-bottom:40%;
    background: url('/assets/img/young-wijd.png') top left no-repeat;
    background-size:100% auto;
    position:absolute;
    top:0;
    left:0;
    transform: translateY(2%);
    transition:all 1s ease;
  }

}

.js {
  .book-category h2 {
    transition: $link-transition;
    &:hover {
      color:$hover-color;
      cursor: pointer;
      transition: $link-transition;
    }
  }

  .book-group .expander {
    transition: $link-transition;
    &:hover {
      color:$hover-color;
      transition: $link-transition;

      .img-holder {
        transform: translateY(0%);
        transition:all 1s ease;
      }
    }
  }

}



.line {
  background:url('/assets/img/line-horizonal.svg') top left no-repeat;
  background-size:auto 100%;
  padding-bottom:2%;
  clear:both;
  float:left;
  width:100%;
  border:0;
  @include margin-bottom($spacing-standard);
  margin-top:-10px;
  display:block; // All this is to make margin-top work ...
  position:relative;
  z-index:100;
}

.young .wijd {
  .img-holder {
    background: url('/assets/img/young-wijd.png') top left no-repeat;
    background-size:100% auto;
  }
}

.young .pap {
  .img-holder {
    background: url('/assets/img/young-pap.png') top left no-repeat;
    background-size:100% auto;
  }
}

.young .other {
  .img-holder {
    background: url('/assets/img/young-other.png') top left no-repeat;
    background-size:100% auto;
  }
}

.picture .wijd {
  .img-holder {
    background: url('/assets/img/picture-wijd.png') top left no-repeat;
    background-size:100% auto;
  }
}

.picture .other {
  .img-holder {
    background: url('/assets/img/picture-other.png') top left no-repeat;
    background-size:100% auto;
  }
}

.older .all {
  .img-holder {
    background: url('/assets/img/older-all.png') top left no-repeat;
    background-size:100% auto;
  }
}

.books h2 {
  font-family: $axel-font;
}

// Books page small screens
@include gs-media(s,max){
  .book-group {
    padding-top:0;
    .img-holder {
      position:relative;
      width:100%;
      padding-bottom:30%;
      margin-left:auto;
      margin-right:auto;
      background-size:contain !important;
      background-position:center top !important;
    }
    .title-holder {
      text-align:center;
      @include padding-top($spacing-small);
    }
  }
}



/// BOOKS INDIVIDUAL PAGE ///

.book p{
  line-height:$medium-line-height;
}
.axel-says, .author-says {
  h2 {
    color:$mid-grey;
    font-family:$axel-font;
  }
  img {
    border-radius:50%;
  }
}

.sketches {
  img {
    border: 4px solid $light-grey;
  }
  img.portrait {
    width: gs-width(l,1,8,false,true);
  }
}
.sketch {
  border: 4px solid $light-grey;
  box-sizing:border-box;
}

.buying-options {
  li {
    list-style:none;
  }
  li:before {
    content: "\2605";
    @include margin-right($a-scale--2);
  }
}
