/// BUTTONS ///

.button a, .button a:visited {
  display:inline-block;
  background:$button-color;
  color:$background-color;
  @include padding($a-scale--2);
  @include font-size($size-small);
  border-bottom:none;
  &:hover, &:focus {
    background-color:$hover-color;
    color:$background-color;
  }
}
