/// Styles for the circle grids

.circle-grid {
  a {
    border:0;
    display:block;
    padding:0;
  }
  img {
    border-radius:50%;

    margin-bottom:0;
    border:2px solid $light-grey;
    display:table;
    filter: grayscale(1);
    transition:all 1s ease;
    &:hover {
      filter: grayscale(0);
      cursor: pointer;
      transition:all 1s ease;
    }

  }
  li {
    margin-bottom:34.48% - 31.04%;
    position:relative;
    border-radius:50%;
    padding:0;
    padding-right:1px;


  }
}

.circle-grid.colours {
  img {

    border:1px solid $off-white;

    mix-blend-mode: multiply;

    margin-left:-1px;
  }
  li {
    background:$red;
    isolation: isolate;
    border:2px solid $light-grey;
    transition:all 0.5s ease;
    &:nth-child(7n-5) {
      background:$blue;
      &:hover {
        border-color:$blue;
      }
    }
    &:nth-child(7n-4) {
      background:$yellow;
      &:hover {
        border-color:$yellow;
      }
    }
    &:nth-child(7n-3) {
      background:$green;
      &:hover {
        border-color:$green;
      }
    }
    &:nth-child(7n-2) {
      background:$orange;
      &:hover {
        border-color:$orange;
      }
    }
    &:nth-child(7n-1) {
      background:$purple;
      &:hover {
        border-color:$purple;
      }
    }
    &:nth-child(7n-0) {
      background:$pink;
      &:hover {
        border-color:$pink;
      }
    }
    &:hover {
      background-color:$off-white;
      transition:all 0.5s ease;
      border-color:$red;
    }
  }
}
