// styles for the events page
.event {
  @include margin-top($spacing-small);
  @include padding-top($spacing-large);
  @include margin-bottom($spacing-large);
  background:url('/assets/img/line-horizonal.svg') top left no-repeat;
  background-size:auto 19px;
}

.location{
  @include font-size($size-small);
}

.detail {
  font-style:italic;
  @include font-size($size-small);
}

.time {
  display:block;
  border:7px solid $dark-grey;
  border-image: url('/assets/img/border.svg') 6 stretch;
  font-family:$axel-font;
  text-align:center;
  @include padding-top($spacing-small);
  @include padding-bottom($spacing-small);
  span {
    display:block;
    line-height:$small-line-height;
    &.num {
      @include font-size($size-h1);
    }
    &.hidden {
      display:none;
    }
    &.actual-time {
      @include font-size($size-h3);
    }
  }
}

.to {
  text-align:center;
  font-family:$axel-font;
  @include font-size($size-h3);
}

sup {
  vertical-align: super;
  font-size:0.5em;
}
