//// Header & footer ////

.axel-scheffler {
  width:100%;
  display:block;
  padding-bottom:15%;
  height:0;
  background:url('/assets/img/axel-scheffler.png') top right no-repeat;
  background-size:contain;
  text-indent:-9999em;
  overflow:hidden;

}
a.axel-scheffler, a:visited.axelscheffler {
  border:0;
  &:hover, &:focus {
    background-image:url('/assets/img/axel-scheffler--hover.png');
  }
}

.cssanimations {
  .axel-scheffler {
    @include fadein(2s);
  }
  .home-holder {
    @include fadein(2s);
  }
}

a.home, a.home:visited {
  border:0;
  width:100%;
  padding-bottom:30%;
  background:url('/assets/img/home.png') top left no-repeat;
  background-size:contain;
  text-indent:-9999em;
  overflow:hidden;
  display:block;
  filter: grayscale(1);
  &:hover {
    filter: grayscale(0);
    cursor: pointer;
  }
}

.footer {
  background-color:mix($light-grey,$off-white,30%);
  @include padding-top($spacing-standard);
  @include margin-top($spacing-large);
  .footer-second {
    text-align:right;
  }
}

@include gs-media(s,max){
  .footer {
    .footer-first, .footer-second {
      text-align:center;
    }
    .footer-second {
      p {
        @include font-size($a-scale--3)
      }
    }
  }
}
