//// Styles for the homepage ////

$transition: 1.01;


.nav--homepage {
  width:100%;
  padding-bottom:69%;
  float:left;
  position:relative;

  .text {
    height:0;
    overflow:hidden;
    text-indent: -9999em;
    display:block;
  }
  li {
    display:block;
    position:absolute;
    height:0;

  }
  a, a:visited {
    position:absolute;
    display:block;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:none;
    transform: translateY(0);
    transition: all 1s ease;
    &:hover, &:focus {
      transform: translateY(-5px);
      transition: all 1s ease;
    }
  }
  .about {
    $width: 19%;
    $height: 45% * 1.15942029;
    a {background:url('#{$img-path}about.png') top left no-repeat;
    background-size:contain;}
    width:$width;

    padding-bottom:$height;
    left:0;
    top:8% * 1.15942029;

    &:hover, &:focus {
      //width:$width * $transition;
      //padding-bottom: $height * $transition;
    }

  }
  .events {
    $width: 16%;
    $height: 45% * 1.15942029;
    a {background:url('#{$img-path}events.png') top left no-repeat;
    background-size:contain;}
    width:$width;
    padding-bottom:$height;
    left:19%;
    @include animationdelay(1s);
    &:hover, &:focus {
      //width:$width * $transition;
      //padding-bottom: $height * $transition;
    }
  }
  .no-events {
    $width: 20%;
    $height: 45% * 1.15942029;
    position:absolute;
    background:url('#{$img-path}no-events.png') top left no-repeat;
    background-size:contain;
    width:$width;
    padding-bottom:$height;
    left:19%;
    top:21% * 1.15942029;

  }
  .books {
    $width: 18%;
    $height: 46% * 1.15942029;
    a {background:url('#{$img-path}books.png') top left no-repeat;
    background-size:contain;}
    width:$width;
    padding-bottom:$height;
    left:19% + 16%;
    top:15% * 1.15942029;
    &:hover, &:focus {
      //width:$width * $transition;
      //padding-bottom: $height * $transition;
    }

  }
  .pictures {
    $width: 27%;
    $height: 37% * 1.15942029;
    a {background:url('#{$img-path}pictures.png') top right no-repeat;
    background-size:contain;}
    width:$width;
    padding-bottom:$height;
    right:4%;
    top:5% * 1.15942029;
    &:hover, &:focus {
      //width:$width * $transition;
      //padding-bottom: $height * $transition;
    }
  }
  .colouring {
    $width: 35%;
    $height: 30% * 1.15942029;
    a {background:url('#{$img-path}colouring.png') top left no-repeat;
    background-size:contain;}
    width:$width;
    padding-bottom:$height;
    left:2%;
    top:50% * 1.15942029;
    &:hover, &:focus {
      //width:$width * $transition;
      //padding-bottom: $height * $transition;
    }
  }
  .faqs {
    $width: 30%;
    $height: 45% * 1.15942029;
    a {background:url('#{$img-path}faqs.png') top right no-repeat;
    background-size:contain;}
    width:$width;
    padding-bottom:$height;
    top:27% * 1.15942029;
    right:12%;
    &:hover, &:focus {
      //width:$width * $transition;
      //padding-bottom: $height * $transition;
    }
  }
  .gruffalo {
    $width: 22%;
    $height: 10% * 1.15942029;
    a {background:url('#{$img-path}gruffalo.png') top right no-repeat;
    background-size:contain;}
    width:$width;
    padding-bottom:$height;
    top:45% * 1.15942029;
    right:0;
    &:hover, &:focus {
      //width:$width * $transition;
      //padding-bottom: $height * $transition;
    }
  }
}

@include gs-media(s,max) {
  .homepage {
    .footer {
      margin-top:0;
    }
  }
  .nav--homepage {
    padding-bottom:160%;
    .about  {
      $width: 33%;
      $height: 80%;
      a {background:url('#{$img-path}about.png') top left no-repeat;
      background-size:contain;}
      width:$width;

      padding-bottom:$height;
      left:0;
      top:8% * .519480519;
      &:hover, &:focus {
        //width:$width * $transition;
        //padding-bottom: $height * $transition;
      }

    }
    .events {
      $width: 33%;
      $height: 90%;
      a {background:url('#{$img-path}events.png') top left no-repeat;
      background-size:contain;}
      width:$width;
      padding-bottom:$height;
      left:33%;
      &:hover, &:focus {
        //width:$width * $transition;
        //padding-bottom: $height * $transition;
      }
    }
    .no-events {
      $width: 36%;
      $height: 45%;
      position:absolute;
      background:url('#{$img-path}no-events.png') top left no-repeat;
      background-size:contain;
      width:$width;
      padding-bottom:$height;
      left:31%;
      top:40% * .519480519;

    }
    .books {
      $width: 33%;
      $height: 80%;
      a {background:url('#{$img-path}books.png') top left no-repeat;
      background-size:contain;}
      width:$width;
      padding-bottom:$height;
      left:33% + 33%;
      top:15% * .519480519;
      &:hover, &:focus {
        //width:$width * $transition;
        //padding-bottom: $height * $transition;
      }

    }
    .pictures  {
      $width: 50%;
      $height: 70%;
      a {background:url('#{$img-path}pictures.png') top right no-repeat;
      background-size:contain;}
      width:$width;
      padding-bottom:$height;
      left:-10%;
      top:80% * .519480519;
      &:hover, &:focus {
        //width:$width * $transition;
        //padding-bottom: $height * $transition;
      }
    }
    .faqs {
      $width: 43.5%;
      $height: 80%;
      a {background:url('#{$img-path}faqs.png') top left no-repeat;
      background-size:115% auto;}
      width:$width;
      padding-bottom:$height;
      top:90% * .519480519;
      right:-3.5%;
      &:hover, &:focus {
        //width:$width * $transition;
        //padding-bottom: $height * $transition;
      }
    }
    .gruffalo {
      $width: 35%;
      $height: 20%;
      a {background:url('#{$img-path}gruffalo.png') top right no-repeat;
      background-size:contain;}
      width:$width;
      padding-bottom:$height;
      top:180% * .519480519;
      right:0;
      &:hover, &:focus {
        //width:$width * $transition;
        //padding-bottom: $height * $transition;
      }
    }
    .colouring {
      $width: 70%;
      $height: 50%;
      a {background:url('#{$img-path}colouring.png') top left no-repeat;
      background-size:contain;}
      width:$width;
      padding-bottom:$height;
      left:-2%;
      top:130% * .519480519;
      &:hover, &:focus {
        //width:$width * $transition;
        //padding-bottom: $height * $transition;
      }
    }

  }

}

.cssanimations {
  .nav--homepage {
    li {
      opacity:0;
      @include fadein(1s);
    }
    .about {
      @include animationdelay(1s);
    }
    .events  {
      @include animationdelay(1.25s);
    }
    .no-events {
      @include animationdelay(1.25s);
    }
    .books  {
      @include animationdelay(1.5s);
    }
    .pictures  {
      @include animationdelay(1.25s);
    }
    .colouring  {
      @include animationdelay(1.75s);
    }
    .faqs  {
      @include animationdelay(2s);
    }
    .gruffalo  {
      @include animationdelay(2.25s);
    }
  }
}
