.prevnext {
  font-family:$axel-font;
  a {
    border:none;
  }
  .next {
    text-align:right;
  }
}

@media only screen and (min-width:1250px) {
  .prevnext.side {
    .prev a, .next a {
      position:fixed;
      top:0;
      bottom:0;
      width:6%;
      padding-left:2%;
      padding-right:2%;

      display:block;
      vertical-align: middle;
      @include font-size($b-scale-2);
      text-align:center;
      background:rgba($light-grey,0.2);

      .text {
        display:block;
        height:0;
        overflow:hidden;
        text-indent:-9999em;
      }
      &:hover {
        background:$light-grey;
        transition:all 1s ease;
      }
    }
    .prev a {
      left:0;
      &:before{ // this is for trying to get arrow to display in the middle of the screen
          content: '';
          display: block;
          height: 40%;
          vertical-align: middle;
      }
    }
    .next a {
      right:0;
      &:before{ // this is for trying to get arrow to display in the middle of the screen
          content: '';
          display: block;
          height: 40%;
          vertical-align: middle;
      }
    }
  }

}
