//// TYPOGRAPHY ////

/* == Set up bases on body == */

body {
	font-family:$base-font;
	font-weight:$base-font-weight;
	@include font-size($size-p);
	line-height:$base-line-height;
	color:$text-color;
}

// Mobile {
@media only screen and (max-width: 650px) {
body {
	@include font-size($size-small);
}
}

/* == Heading styling == */
// Note margins only included on bottom of elements to keep consistency

h1 {
	@include font-size($size-h1);
	line-height:$heading-line-height;
	@include margin-bottom($margin-h1);
	font-weight:$base-font-weight;
	font-family:$axel-font;
	color:$blue;
}

.book h1, .colouring h1, .picture h1 {
	font-family:$base-font;
	color:$dark-grey;
}

// different h1 colours in different sections
/*.books h1 {
	color:$books-color;
}
.about h1 {
	color:$about-color;
}
.faqs h1 {
	color:$faqs-color;
}*/

// Other heading levels

h2 {
	@include font-size($size-h2);
	line-height:$heading-line-height;
	@include margin-bottom($margin-h2);
	font-weight:$base-font-weight;
}

h3 {
	@include font-size($size-h3);
	line-height:$heading-line-height;
	@include margin-bottom($margin-h3);
	font-weight:$base-font-weight;
}

h4 {
	@include font-size($size-h4);
	line-height:$heading-line-height;
	@include margin-bottom($margin-h4);
	font-weight:$base-font-weight;
}

.question h2 {
	@extend h3;

	// Adjusting line height and margin top to get a bit of verical rhythm with the answer
	line-height: ($base-line-height * $size-p) / $size-h3;
	margin-top:-3px;

}

article {
	h3 {
		@include margin-top($spacing-xl);
		@include margin-bottom($margin-h3);
	}
}

// Mobile
@media only screen and (max-width: 650px) {
	h1 {
		@include font-size($size-h2);
		line-height:$heading-line-height;
		@include margin-bottom($margin-h2);
		font-weight:$base-font-weight;
	}
	h2 {
		@include font-size($size-h3);
		line-height:$heading-line-height;
		@include margin-bottom($margin-h3);
		font-weight:$base-font-weight;
	}
	h3 {
		@include font-size($size-h4);
		line-height:$heading-line-height;
		@include margin-bottom($margin-h4);
		font-weight:$base-font-weight;
	}
	h4 {
		@include font-size($size-h4);
		line-height:$heading-line-height;
		@include margin-bottom($margin-h4);
		font-weight:$base-font-weight;
	}
}

/* == Paragraphs == */

p {
	@include font-size($size-p);
	line-height:$base-line-height;
	@include margin-bottom($margin-p);
}

p.intro {
  @include margin-bottom($spacing-xl);
}

p.extra-small {
	@include font-size($size-extra-small);
}
p.meta {
	@include font-size($size-small);
	font-style:italic;
	color:$mid-grey;

}

h1 + p.meta {
	@include margin-top(-1 * $a-scale--2); // small margin top to adjust with use with h1
}

// Mobile {
@media only screen and (max-width: 650px) {
p {
	@include font-size($size-small);
}
}

/* == Figcaptions == */
figcaption {
	@include font-size($size-small);
	font-style:italic;
	@include margin-bottom($spacing-standard);
	line-height: $small-line-height;
}

/* == Blockquotes == */
blockquote {
	p {
		position:relative;
		&:before {
			content:"\201C";
			font-family: $axel-font;
			position:absolute;
			@include left(-1 * $size-h2);
			@include top(-1 * $a-scale--2);
			@include font-size($a-scale-3);
			color:$green;
		}
		&:after {
			content:"\201D";
			font-family: $axel-font;
			position:absolute;
			@include right(-1 * $size-h2);
			@include font-size($a-scale-3);
			@include margin-top(-1 * $a-scale--2);
			color:$green;
		}
	}
}

@include gs-media(s,max) {
	blockquote {
		@include padding-left($size-h2);
		@include padding-right($size-h2);
	}
}

/* == Cite == */
cite {
	font-style:italic;
}
figcaption cite {
	font-style:normal;
}

/* == Links == */
a, a:visited {
	color:$link-color;
	text-decoration:none;
	border-bottom:1px dotted $link-color;
	padding-bottom:1px;
	transition: $link-transition;
	&:hover, &:focus {
		color:$hover-color;
		border-color:$hover-color;
		transition: $link-transition;
	}
}

.back a, .back a:visited {
	border-bottom:none;
	font-family:$axel-font;
}

/* == Helper classes == */
.sr-only {
	text-indent:-9999em;
	overflow:hidden;
	display:block;
	width:0;
	height:0;
	margin:0;
}
