/* == Global == */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, .question h2, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* == Colours == */
/* == Modular Scale == */
/* http://modularscale.com */
/* current accepted 'default' pixel size browsers use */
/* $a-scale is based on $base-number */
/* this is the base font size */
/* $a-scale-- is based on $a-scale and gives smaller numbers */
/* b-scale is based on $important-number */
/* these are additional numbers based on $important-number */
/* $b-scale- is based on $important-number and gives smaller numbers */
/* == Typography == */
/* == Spacing == */
/* == Transitions == */
/* == Paths == */
/* == Z index == */
/* ==========================================================================
   Useful mixins
   ========================================================================== */
/* ==========================================================================
    Typography mixins - all with + px and then + rem are fallbacks for
    browsers that don't recognise rem
   ========================================================================== */
/* ==========================================================================
    Margin and padding mixins
   ========================================================================== */
/*
==============================================
ANIMATION
==============================================
*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%); }
  65% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    opacity: 1; }
  80% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%); }
  95% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%); }
  65% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    opacity: 1; }
  80% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%); }
  95% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  75% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  75% {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1; } }
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }
@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }
@-webkit-keyframes fadetogrey {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 0; }
  50% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1; }
  100% {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 1; } }
@keyframes fadetogrey {
  0% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 0; }
  50% {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1; }
  100% {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    opacity: 1; } }
@-webkit-keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
            transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
            transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }
@keyframes bigEntrance {
  0% {
    -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
            transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
    opacity: 0.2; }
  30% {
    -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
            transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  60% {
    -webkit-transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  75% {
    -webkit-transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
            transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
    opacity: 1; }
  90% {
    -webkit-transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
            transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
    opacity: 1; } }
@-webkit-keyframes simple-slide--left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }
@keyframes simple-slide--left {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0; }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }
/* Generated by Fontie - the magic webfont generator <http://fontie.flowyapps.com> */
@font-face {
  font-family: 'AxelSchefflerSans-Regular';
  src: url("/assets/fonts/AxelSchefflerSans-Regular_gdi.eot");
  src: url("/assets/fonts/AxelSchefflerSans-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/AxelSchefflerSans-Regular_gdi.woff") format("woff"), url("/assets/fonts/AxelSchefflerSans-Regular_gdi.ttf") format("truetype"), url("/assets/fonts/AxelSchefflerSans-Regular_gdi.svg#AxelSchefflerSans-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2193; }
/* == Vendor == */
/* plugin styles */
.expandy {
  display: block;
  position: relative;
  overflow: hidden; }

.expandy.expandy-hidden {
  display: none; }

.expandy-toggle {
  cursor: pointer; }

/*.toggle-all{
    float: right;
    cursor: pointer;
    font-size: .8em;
    font-style: italic;
    text-decoration: underline;
}*/
/* show/hide indicators */
.expandy-toggle.plusminus:after {
  content: ' [-]'; }

.expandy-toggle.expandy-hidden.plusminus:after {
  content: ' [+]'; }

.expandy-toggle.triangle:after {
  content: ' \25BE'; }

.expandy-toggle.expandy-hidden.triangle:after {
  content: ' \25B8'; }

.expandy-toggle.arrow:after {
  content: ' \2191'; }

.expandy-toggle.expandy-hidden.arrow:after {
  content: ' \2193'; }

/* == Layout == */
body {
  background: #FFFDF8;
  color: #333231; }

html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -127.594328px;
  margin-bottom: -7.9746455rem; }

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (max-width: 1100px) {
  .wrapper {
    max-width: 95%; } }
@media only screen and (max-width: 889px) {
  .wrapper {
    max-width: 800px; } }
img {
  max-width: 100%; }

img {
  margin-bottom: 22px;
  margin-bottom: 1.375rem; }

figure {
  margin-bottom: 22px;
  margin-bottom: 1.375rem; }
  figure img {
    margin-bottom: 0; }

.main {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.72%;
  padding-right: 1.72%; }

.cssanimations .main {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }

@media only screen and (max-width: 889px) {
  .main {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 3.44%;
    padding-right: 3.44%; } }
.footer {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  height: 57.594328px;
  height: 3.5996455rem; }
  .footer .footer-first {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.28%;
    box-sizing: border-box;
    padding-left: 1.72%;
    padding-right: 1.72%; }
  .footer .footer-second {
    display: block;
    float: left;
    margin-left: 51.72%;
    margin-right: -100%;
    width: 48.28%;
    box-sizing: border-box;
    padding-left: 1.72%;
    padding-right: 1.72%; }

@media only screen and (max-width: 889px) {
  .footer {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 1.72%;
    padding-right: 1.72%;
    height: 125.660352px;
    height: 7.853772rem; }
    .footer .footer-first {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; }
    .footer .footer-second {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; }

  .page-wrap {
    margin-bottom: -173.660352px;
    margin-bottom: -10.853772rem; }

  .homepage .page-wrap {
    margin-bottom: -125.664px;
    margin-bottom: -7.854rem; } }
.header--standard {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 1.72%;
  padding-right: 1.72%;
  margin-top: 48px;
  margin-top: 3rem;
  margin-bottom: 57.594328px;
  margin-bottom: 3.5996455rem; }
  .header--standard .name-holder {
    display: block;
    float: left;
    margin-left: 60.34%;
    margin-right: -100%;
    width: 39.66%; }
  .header--standard .home-holder {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 13.8%; }

.header {
  display: block;
  float: left;
  margin-left: 25.86%;
  margin-right: -100%;
  width: 74.14%;
  margin-top: 48px;
  margin-top: 3rem;
  box-sizing: border-box;
  padding-left: 1.72%;
  padding-right: 1.72%; }

@media only screen and (max-width: 889px) {
  .header--standard {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 3.44%;
    padding-right: 3.44%; }
    .header--standard .name-holder {
      display: block;
      float: left;
      margin-left: 34.48%;
      margin-right: -100%;
      width: 65.52%; }
    .header--standard .home-holder {
      display: block;
      float: left;
      margin-left: 0;
      margin-right: -100%;
      width: 31.04%; }

  .header {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    box-sizing: border-box;
    padding-left: 3.44%;
    padding-right: 3.44%; } }
.question {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 31.04%;
  clear: left;
  margin-bottom: 57.594328px;
  margin-bottom: 3.5996455rem; }

.answer {
  display: block;
  float: left;
  margin-left: 34.48%;
  margin-right: -100%;
  width: 65.52%;
  margin-bottom: 57.594328px;
  margin-bottom: 3.5996455rem; }

@media only screen and (max-width: 889px) {
  .question, .answer {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }

  .question {
    margin-bottom: 0; } }
.book-category {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: left;
  margin-bottom: 57.594328px;
  margin-bottom: 3.5996455rem; }

.book-group {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: left;
  padding-top: 77.664px;
  padding-top: 4.854rem;
  padding-bottom: 18.3351388352px;
  padding-bottom: 1.1459461772rem; }
  .book-group .expandy {
    clear: left; }
  .book-group .expander {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }
  .book-group .title-holder {
    display: block;
    float: left;
    margin-left: 25.86%;
    margin-right: -100%;
    width: 74.14%; }
  .book-group ul {
    display: block;
    float: left;
    margin-left: 25.86%;
    margin-right: -100%;
    width: 74.14%;
    clear: left; }
  .book-group li {
    height: 203.318449536px;
    height: 12.707403096rem;
    display: block;
    float: left;
    margin-right: 18.3351388352px;
    margin-right: 1.1459461772rem;
    margin-bottom: 18.3351388352px;
    margin-bottom: 1.1459461772rem; }
    .book-group li img {
      height: 100%;
      width: auto; }

@media only screen and (max-width: 889px) {
  .book-category {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }

  .book-group {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }
    .book-group .title-holder, .book-group ul {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; }
    .book-group li {
      height: 125.660352px;
      height: 7.853772rem; } }
.intro {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 74.14%;
  clear: left;
  margin-bottom: 22px;
  margin-bottom: 1.375rem; }

.book .intro {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 56.9%; }

.cover {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 31.04%;
  clear: left;
  margin-bottom: 48px;
  margin-bottom: 3rem; }

.no-feature .cover {
  display: block;
  float: left;
  margin-left: 68.96%;
  margin-right: -100%;
  width: 31.04%;
  clear: none; }

.feature-image {
  width: 42%;
  right: 0;
  top: 21%;
  text-align: right;
  position: absolute;
  z-index: -1000; }
  .feature-image img {
    max-height: 800px; }

.cssanimations .feature-image img {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: simple-slide--left;
          animation-name: simple-slide--left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.axel-says {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: left;
  margin-bottom: 48px;
  margin-bottom: 3rem; }
  .axel-says .image-holder {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 22.42%; }
  .axel-says .text-holder {
    display: block;
    float: left;
    margin-left: 34.48%;
    margin-right: -100%;
    width: 56.9%; }

.author-says {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: left;
  margin-bottom: 48px;
  margin-bottom: 3rem; }
  .author-says .image-holder {
    display: block;
    float: left;
    margin-left: 77.58%;
    margin-right: -100%;
    width: 22.42%; }
  .author-says .text-holder {
    display: block;
    float: left;
    margin-left: 8.62%;
    margin-right: -100%;
    width: 56.9%; }

.sketches {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: left;
  margin-bottom: 48px;
  margin-bottom: 3rem; }

.buying-options {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: left;
  margin-bottom: 48px;
  margin-bottom: 3rem; }

@media only screen and (max-width: 889px) {
  .intro, .book .intro, .axel-says, .author-says, .sketches, .buying-options {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }

  .axel-says .image-holder, .author-says .image-holder {
    display: block;
    float: left;
    margin-left: 34.48%;
    margin-right: -100%;
    width: 31.04%;
    clear: left; }
  .axel-says .text-holder, .author-says .text-holder {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }
    .axel-says .text-holder h2, .author-says .text-holder h2 {
      text-align: center; }

  .cover {
    display: block;
    float: left;
    margin-left: 17.24%;
    margin-right: -100%;
    width: 65.52%;
    clear: left;
    margin-bottom: 18.3351388352px;
    margin-bottom: 1.1459461772rem; }

  .feature-image {
    position: relative;
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left;
    margin-bottom: 22px;
    margin-bottom: 1.375rem; } }
.date {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  width: 13.8%;
  clear: left; }

.entry {
  display: block;
  float: left;
  margin-left: 25.86%;
  margin-right: -100%;
  width: 74.14%; }

.entry + .entry {
  clear: left; }

.timeline {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  margin-bottom: 77.664px;
  margin-bottom: 4.854rem; }
  .timeline article {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }
  .timeline .image.small {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 30.2400863232%; }
  .timeline .image.small + .button-holder {
    display: block;
    float: left;
    margin-left: 34.8799568384%;
    margin-right: -100%;
    width: 65.1200431616%; }
  .timeline .image.medium {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 53.4933908821%; }
  .timeline .image.medium + .button-holder {
    display: block;
    float: left;
    margin-left: 58.1332613974%;
    margin-right: -100%;
    width: 41.8667386026%; }
  .timeline .images + .button-holder {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }

@media only screen and (max-width: 889px) {
  .date {
    display: block;
    float: left;
    margin-left: 34.48%;
    margin-right: -100%;
    width: 31.04%; }

  .entry {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }

  .timeline .image.small {
    display: block;
    float: left;
    margin-left: 17.24%;
    margin-right: -100%;
    width: 65.52%; }
  .timeline .image.small + .button-holder {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }
  .timeline .image.medium {
    display: block;
    float: left;
    margin-left: 17.24%;
    margin-right: -100%;
    width: 65.52%; }
  .timeline .image.medium + .button-holder {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; }
  .timeline .images + .button-holder {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%;
    clear: left; } }
.circle-grid {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%; }
  .circle-grid:before, .circle-grid:after {
    content: " ";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden; }
  .circle-grid li {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 31.04%;
    clear: left; }
    .circle-grid li:nth-child(3n-1) {
      display: block;
      float: left;
      margin-left: 34.48%;
      margin-right: -100%;
      width: 31.04%;
      clear: none; }
    .circle-grid li:nth-child(3n) {
      display: block;
      float: left;
      margin-left: 68.96%;
      margin-right: -100%;
      width: 31.04%;
      clear: none; }

.prevnext {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%;
  clear: both;
  margin-top: 18.3351388352px;
  margin-top: 1.1459461772rem; }
  .prevnext .prev {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 48.28%; }
  .prevnext .next {
    display: block;
    float: left;
    margin-left: 51.72%;
    margin-right: -100%;
    width: 48.28%; }

.event {
  clear: both;
  display: block;
  float: left;
  margin-left: 0;
  width: 100%; }
  .event .details {
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 22.42%; }
  .event .summary {
    display: block;
    float: left;
    margin-left: 34.48%;
    margin-right: -100%;
    width: 65.52%; }
  .event img {
    max-width: 47.3748473748%; }

@media only screen and (max-width: 889px) {
  .event .details {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }
  .event .summary {
    clear: both;
    display: block;
    float: left;
    margin-left: 0;
    width: 100%; }
  .event img {
    max-width: 100%; } }
.hidden {
  display: none; }

/* == Design == */
/* == Set up bases on body == */
body {
  font-family: "Caudex", Georgia, Times, serif;
  font-weight: 400;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.618;
  color: #333231; }

@media only screen and (max-width: 650px) {
  body {
    font-size: 18.3351388352px;
    font-size: 1.1459461772rem; } }
/* == Heading styling == */
h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
  font-weight: 400;
  font-family: "AxelSchefflerSans-Regular", Georgia, serif;
  color: #005BA3; }

.book h1, .colouring h1, .picture h1 {
  font-family: "Caudex", Georgia, Times, serif;
  color: #333231; }

/*.books h1 {
	color:$books-color;
}
.about h1 {
	color:$about-color;
}
.faqs h1 {
	color:$faqs-color;
}*/
h2 {
  font-size: 35.596px;
  font-size: 2.22475rem;
  line-height: 1.1;
  margin-bottom: 29.6662546354px;
  margin-bottom: 1.8541409147rem;
  font-weight: 400; }

h3, .question h2 {
  font-size: 29.6662546354px;
  font-size: 1.8541409147rem;
  line-height: 1.1;
  margin-bottom: 13.5970333745px;
  margin-bottom: 0.8498145859rem;
  font-weight: 400; }

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.1;
  margin-bottom: 18.3351388352px;
  margin-bottom: 1.1459461772rem;
  font-weight: 400; }

.question h2 {
  line-height: 1.1998818333;
  margin-top: -3px; }

article h3, article .question h2, .question article h2 {
  margin-top: 57.594328px;
  margin-top: 3.5996455rem;
  margin-bottom: 13.5970333745px;
  margin-bottom: 0.8498145859rem; }

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 35.596px;
    font-size: 2.22475rem;
    line-height: 1.1;
    margin-bottom: 29.6662546354px;
    margin-bottom: 1.8541409147rem;
    font-weight: 400; }

  h2 {
    font-size: 29.6662546354px;
    font-size: 1.8541409147rem;
    line-height: 1.1;
    margin-bottom: 13.5970333745px;
    margin-bottom: 0.8498145859rem;
    font-weight: 400; }

  h3, .question h2 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.1;
    margin-bottom: 18.3351388352px;
    margin-bottom: 1.1459461772rem;
    font-weight: 400; }

  h4 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.1;
    margin-bottom: 18.3351388352px;
    margin-bottom: 1.1459461772rem;
    font-weight: 400; } }
/* == Paragraphs == */
p {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.618;
  margin-bottom: 22px;
  margin-bottom: 1.375rem; }

p.intro {
  margin-bottom: 57.594328px;
  margin-bottom: 3.5996455rem; }

p.extra-small {
  font-size: 13.5970333745px;
  font-size: 0.8498145859rem; }

p.meta {
  font-size: 18.3351388352px;
  font-size: 1.1459461772rem;
  font-style: italic;
  color: #7F7E7B; }

h1 + p.meta {
  margin-top: -13.5970333745px;
  margin-top: -0.8498145859rem; }

@media only screen and (max-width: 650px) {
  p {
    font-size: 18.3351388352px;
    font-size: 1.1459461772rem; } }
/* == Figcaptions == */
figcaption {
  font-size: 18.3351388352px;
  font-size: 1.1459461772rem;
  font-style: italic;
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
  line-height: 1.2; }

/* == Blockquotes == */
blockquote p {
  position: relative; }
  blockquote p:before {
    content: "\201C";
    font-family: "AxelSchefflerSans-Regular", Georgia, serif;
    position: absolute;
    left: -35.596px;
    left: -2.22475rem;
    top: -13.5970333745px;
    top: -0.8498145859rem;
    font-size: 57.594328px;
    font-size: 3.5996455rem;
    color: #00925E; }
  blockquote p:after {
    content: "\201D";
    font-family: "AxelSchefflerSans-Regular", Georgia, serif;
    position: absolute;
    right: -35.596px;
    right: -2.22475rem;
    font-size: 57.594328px;
    font-size: 3.5996455rem;
    margin-top: -13.5970333745px;
    margin-top: -0.8498145859rem;
    color: #00925E; }

@media only screen and (max-width: 889px) {
  blockquote {
    padding-left: 35.596px;
    padding-left: 2.22475rem;
    padding-right: 35.596px;
    padding-right: 2.22475rem; } }
/* == Cite == */
cite {
  font-style: italic; }

figcaption cite {
  font-style: normal; }

/* == Links == */
a, a:visited {
  color: #00925E;
  text-decoration: none;
  border-bottom: 1px dotted #00925E;
  padding-bottom: 1px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #005BA3;
    border-color: #005BA3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.back a, .back a:visited {
  border-bottom: none;
  font-family: "AxelSchefflerSans-Regular", Georgia, serif; }

/* == Helper classes == */
.sr-only {
  text-indent: -9999em;
  overflow: hidden;
  display: block;
  width: 0;
  height: 0;
  margin: 0; }

.axel-scheffler {
  width: 100%;
  display: block;
  padding-bottom: 15%;
  height: 0;
  background: url("/assets/img/axel-scheffler.png") top right no-repeat;
  background-size: contain;
  text-indent: -9999em;
  overflow: hidden; }

a.axel-scheffler, a:visited.axelscheffler {
  border: 0; }
  a.axel-scheffler:hover, a.axel-scheffler:focus, a:visited.axelscheffler:hover, a:visited.axelscheffler:focus {
    background-image: url("/assets/img/axel-scheffler--hover.png"); }

.cssanimations .axel-scheffler {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }
.cssanimations .home-holder {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

a.home, a.home:visited {
  border: 0;
  width: 100%;
  padding-bottom: 30%;
  background: url("/assets/img/home.png") top left no-repeat;
  background-size: contain;
  text-indent: -9999em;
  overflow: hidden;
  display: block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }
  a.home:hover, a.home:visited:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    cursor: pointer; }

.footer {
  background-color: #f7f5f0;
  padding-top: 22px;
  padding-top: 1.375rem;
  margin-top: 48px;
  margin-top: 3rem; }
  .footer .footer-second {
    text-align: right; }

@media only screen and (max-width: 889px) {
  .footer .footer-first, .footer .footer-second {
    text-align: center; }
  .footer .footer-second p {
    font-size: 8.4036052995px;
    font-size: 0.5252253312rem; } }
.button a, .button a:visited {
  display: inline-block;
  background: #333231;
  color: #FFFDF8;
  padding: 13.5970333745px;
  padding: 0.8498145859rem;
  font-size: 18.3351388352px;
  font-size: 1.1459461772rem;
  border-bottom: none; }
  .button a:hover, .button a:focus, .button a:visited:hover, .button a:visited:focus {
    background-color: #005BA3;
    color: #FFFDF8; }

.book-group {
  position: relative;
  overflow: hidden; }
  .book-group a, .book-group a:visited {
    border: 0;
    padding: 0; }
  .book-group .img-holder {
    display: block;
    width: 20%;
    height: 0;
    padding-bottom: 40%;
    background: url("/assets/img/young-wijd.png") top left no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }

.js .book-category h2 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .js .book-category h2:hover {
    color: #005BA3;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
.js .book-group .expander {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .js .book-group .expander:hover {
    color: #005BA3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .js .book-group .expander:hover .img-holder {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }

.line {
  background: url("/assets/img/line-horizonal.svg") top left no-repeat;
  background-size: auto 100%;
  padding-bottom: 2%;
  clear: both;
  float: left;
  width: 100%;
  border: 0;
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
  margin-top: -10px;
  display: block;
  position: relative;
  z-index: 100; }

.young .wijd .img-holder {
  background: url("/assets/img/young-wijd.png") top left no-repeat;
  background-size: 100% auto; }

.young .pap .img-holder {
  background: url("/assets/img/young-pap.png") top left no-repeat;
  background-size: 100% auto; }

.young .other .img-holder {
  background: url("/assets/img/young-other.png") top left no-repeat;
  background-size: 100% auto; }

.picture .wijd .img-holder {
  background: url("/assets/img/picture-wijd.png") top left no-repeat;
  background-size: 100% auto; }

.picture .other .img-holder {
  background: url("/assets/img/picture-other.png") top left no-repeat;
  background-size: 100% auto; }

.older .all .img-holder {
  background: url("/assets/img/older-all.png") top left no-repeat;
  background-size: 100% auto; }

.books h2 {
  font-family: "AxelSchefflerSans-Regular", Georgia, serif; }

@media only screen and (max-width: 889px) {
  .book-group {
    padding-top: 0; }
    .book-group .img-holder {
      position: relative;
      width: 100%;
      padding-bottom: 30%;
      margin-left: auto;
      margin-right: auto;
      background-size: contain !important;
      background-position: center top !important; }
    .book-group .title-holder {
      text-align: center;
      padding-top: 18.3351388352px;
      padding-top: 1.1459461772rem; } }
.book p {
  line-height: 1.5; }

.axel-says h2, .author-says h2 {
  color: #7F7E7B;
  font-family: "AxelSchefflerSans-Regular", Georgia, serif; }
.axel-says img, .author-says img {
  border-radius: 50%; }

.sketches img {
  border: 4px solid #E5E3DE; }
.sketches img.portrait {
  width: 65.52%; }

.sketch {
  border: 4px solid #E5E3DE;
  box-sizing: border-box; }

.buying-options li {
  list-style: none; }
.buying-options li:before {
  content: "\2605";
  margin-right: 13.5970333745px;
  margin-right: 0.8498145859rem; }

.nav--homepage {
  width: 100%;
  padding-bottom: 69%;
  float: left;
  position: relative; }
  .nav--homepage .text {
    height: 0;
    overflow: hidden;
    text-indent: -9999em;
    display: block; }
  .nav--homepage li {
    display: block;
    position: absolute;
    height: 0; }
  .nav--homepage a, .nav--homepage a:visited {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    .nav--homepage a:hover, .nav--homepage a:focus, .nav--homepage a:visited:hover, .nav--homepage a:visited:focus {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
  .nav--homepage .about {
    width: 19%;
    padding-bottom: 52.17391305%;
    left: 0;
    top: 9.27536232%; }
    .nav--homepage .about a {
      background: url("/assets/img/about.png") top left no-repeat;
      background-size: contain; }
  .nav--homepage .events {
    width: 16%;
    padding-bottom: 52.17391305%;
    left: 19%;
    -webkit-animation-delay: 1s;
            animation-delay: 1s; }
    .nav--homepage .events a {
      background: url("/assets/img/events.png") top left no-repeat;
      background-size: contain; }
  .nav--homepage .no-events {
    position: absolute;
    background: url("/assets/img/no-events.png") top left no-repeat;
    background-size: contain;
    width: 20%;
    padding-bottom: 52.17391305%;
    left: 19%;
    top: 24.34782609%; }
  .nav--homepage .books {
    width: 18%;
    padding-bottom: 53.33333334%;
    left: 35%;
    top: 17.39130435%; }
    .nav--homepage .books a {
      background: url("/assets/img/books.png") top left no-repeat;
      background-size: contain; }
  .nav--homepage .pictures {
    width: 27%;
    padding-bottom: 42.89855073%;
    right: 4%;
    top: 5.79710145%; }
    .nav--homepage .pictures a {
      background: url("/assets/img/pictures.png") top right no-repeat;
      background-size: contain; }
  .nav--homepage .colouring {
    width: 35%;
    padding-bottom: 34.7826087%;
    left: 2%;
    top: 57.9710145%; }
    .nav--homepage .colouring a {
      background: url("/assets/img/colouring.png") top left no-repeat;
      background-size: contain; }
  .nav--homepage .faqs {
    width: 30%;
    padding-bottom: 52.17391305%;
    top: 31.30434783%;
    right: 12%; }
    .nav--homepage .faqs a {
      background: url("/assets/img/faqs.png") top right no-repeat;
      background-size: contain; }
  .nav--homepage .gruffalo {
    width: 22%;
    padding-bottom: 11.5942029%;
    top: 52.17391305%;
    right: 0; }
    .nav--homepage .gruffalo a {
      background: url("/assets/img/gruffalo.png") top right no-repeat;
      background-size: contain; }

@media only screen and (max-width: 889px) {
  .homepage .footer {
    margin-top: 0; }

  .nav--homepage {
    padding-bottom: 160%; }
    .nav--homepage .about {
      width: 33%;
      padding-bottom: 80%;
      left: 0;
      top: 4.155844152%; }
      .nav--homepage .about a {
        background: url("/assets/img/about.png") top left no-repeat;
        background-size: contain; }
    .nav--homepage .events {
      width: 33%;
      padding-bottom: 90%;
      left: 33%; }
      .nav--homepage .events a {
        background: url("/assets/img/events.png") top left no-repeat;
        background-size: contain; }
    .nav--homepage .no-events {
      position: absolute;
      background: url("/assets/img/no-events.png") top left no-repeat;
      background-size: contain;
      width: 36%;
      padding-bottom: 45%;
      left: 31%;
      top: 20.77922076%; }
    .nav--homepage .books {
      width: 33%;
      padding-bottom: 80%;
      left: 66%;
      top: 7.792207785%; }
      .nav--homepage .books a {
        background: url("/assets/img/books.png") top left no-repeat;
        background-size: contain; }
    .nav--homepage .pictures {
      width: 50%;
      padding-bottom: 70%;
      left: -10%;
      top: 41.55844152%; }
      .nav--homepage .pictures a {
        background: url("/assets/img/pictures.png") top right no-repeat;
        background-size: contain; }
    .nav--homepage .faqs {
      width: 43.5%;
      padding-bottom: 80%;
      top: 46.75324671%;
      right: -3.5%; }
      .nav--homepage .faqs a {
        background: url("/assets/img/faqs.png") top left no-repeat;
        background-size: 115% auto; }
    .nav--homepage .gruffalo {
      width: 35%;
      padding-bottom: 20%;
      top: 93.50649342%;
      right: 0; }
      .nav--homepage .gruffalo a {
        background: url("/assets/img/gruffalo.png") top right no-repeat;
        background-size: contain; }
    .nav--homepage .colouring {
      width: 70%;
      padding-bottom: 50%;
      left: -2%;
      top: 67.53246747%; }
      .nav--homepage .colouring a {
        background: url("/assets/img/colouring.png") top left no-repeat;
        background-size: contain; } }
.cssanimations .nav--homepage li {
  opacity: 0;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
          animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }
.cssanimations .nav--homepage .about {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }
.cssanimations .nav--homepage .events {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }
.cssanimations .nav--homepage .no-events {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }
.cssanimations .nav--homepage .books {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s; }
.cssanimations .nav--homepage .pictures {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s; }
.cssanimations .nav--homepage .colouring {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s; }
.cssanimations .nav--homepage .faqs {
  -webkit-animation-delay: 2s;
          animation-delay: 2s; }
.cssanimations .nav--homepage .gruffalo {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s; }

.date {
  font-family: "AxelSchefflerSans-Regular", Georgia, serif;
  background: url("/assets/img/circle.svg") center center no-repeat #FFFDF8;
  background-size: contain;
  padding-bottom: 9.8%;
  padding-top: 6%;
  height: 0;
  text-align: center;
  margin-bottom: 48px;
  margin-bottom: 3rem; }

.entry {
  margin-top: 57.594328px;
  margin-top: 3.5996455rem; }
  .entry p {
    font-size: 29.6662546354px;
    font-size: 1.8541409147rem;
    line-height: 1.2; }

.timeline {
  background: url("/assets/img/line-vertical.svg") 6.8% top repeat-y;
  background-size: 12px 804px; }

.timeline article:last-child {
  background: #FFFDF8; }

.images.two-columns {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 3.44%;
     -moz-column-gap: 3.44%;
          column-gap: 3.44%;
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance; }
  .images.two-columns .image {
    column-break-inside: avoid;
    display: inline-block; }
    .images.two-columns .image img {
      width: 100%; }

@media only screen and (max-width: 889px) {
  .timeline {
    background: none; }

  .date {
    margin-bottom: 18.3351388352px;
    margin-bottom: 1.1459461772rem;
    padding-bottom: 12.5%;
    padding-top: 7.5%; }

  .entry {
    margin-top: 0;
    margin-bottom: 48px;
    margin-bottom: 3rem; }
    .entry p {
      text-align: center; } }
@media only screen and (max-width: 550px) {
  .images.two-columns {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }

  .entry p {
    font-size: 22px;
    font-size: 1.375rem; }

  .date h2 {
    font-size: 22px;
    font-size: 1.375rem; } }
.circle-grid a {
  border: 0;
  display: block;
  padding: 0; }
.circle-grid img {
  border-radius: 50%;
  margin-bottom: 0;
  border: 2px solid #E5E3DE;
  display: table;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .circle-grid img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
.circle-grid li {
  margin-bottom: 3.44%;
  position: relative;
  border-radius: 50%;
  padding: 0;
  padding-right: 1px; }

.circle-grid.colours img {
  border: 1px solid #FFFDF8;
  mix-blend-mode: multiply;
  margin-left: -1px; }
.circle-grid.colours li {
  background: #D0021B;
  isolation: isolate;
  border: 2px solid #E5E3DE;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .circle-grid.colours li:nth-child(7n-5) {
    background: #005BA3; }
    .circle-grid.colours li:nth-child(7n-5):hover {
      border-color: #005BA3; }
  .circle-grid.colours li:nth-child(7n-4) {
    background: #F3C300; }
    .circle-grid.colours li:nth-child(7n-4):hover {
      border-color: #F3C300; }
  .circle-grid.colours li:nth-child(7n-3) {
    background: #00925E; }
    .circle-grid.colours li:nth-child(7n-3):hover {
      border-color: #00925E; }
  .circle-grid.colours li:nth-child(7n-2) {
    background: #E64626; }
    .circle-grid.colours li:nth-child(7n-2):hover {
      border-color: #E64626; }
  .circle-grid.colours li:nth-child(7n-1) {
    background: #7363AB; }
    .circle-grid.colours li:nth-child(7n-1):hover {
      border-color: #7363AB; }
  .circle-grid.colours li:nth-child(7n-0) {
    background: #D80079; }
    .circle-grid.colours li:nth-child(7n-0):hover {
      border-color: #D80079; }
  .circle-grid.colours li:hover {
    background-color: #FFFDF8;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-color: #D0021B; }

.prevnext {
  font-family: "AxelSchefflerSans-Regular", Georgia, serif; }
  .prevnext a {
    border: none; }
  .prevnext .next {
    text-align: right; }

@media only screen and (min-width: 1250px) {
  .prevnext.side .prev a, .prevnext.side .next a {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 6%;
    padding-left: 2%;
    padding-right: 2%;
    display: block;
    vertical-align: middle;
    font-size: 77.664px;
    font-size: 4.854rem;
    text-align: center;
    background: rgba(229, 227, 222, 0.2); }
    .prevnext.side .prev a .text, .prevnext.side .next a .text {
      display: block;
      height: 0;
      overflow: hidden;
      text-indent: -9999em; }
    .prevnext.side .prev a:hover, .prevnext.side .next a:hover {
      background: #E5E3DE;
      -webkit-transition: all 1s ease;
      transition: all 1s ease; }
  .prevnext.side .prev a {
    left: 0; }
    .prevnext.side .prev a:before {
      content: '';
      display: block;
      height: 40%;
      vertical-align: middle; }
  .prevnext.side .next a {
    right: 0; }
    .prevnext.side .next a:before {
      content: '';
      display: block;
      height: 40%;
      vertical-align: middle; } }
.event {
  margin-top: 18.3351388352px;
  margin-top: 1.1459461772rem;
  padding-top: 48px;
  padding-top: 3rem;
  margin-bottom: 48px;
  margin-bottom: 3rem;
  background: url("/assets/img/line-horizonal.svg") top left no-repeat;
  background-size: auto 19px; }

.location {
  font-size: 18.3351388352px;
  font-size: 1.1459461772rem; }

.detail {
  font-style: italic;
  font-size: 18.3351388352px;
  font-size: 1.1459461772rem; }

.time {
  display: block;
  border: 7px solid #333231;
  -o-border-image: url("/assets/img/border.svg") 6 stretch;
     border-image: url("/assets/img/border.svg") 6 stretch;
  font-family: "AxelSchefflerSans-Regular", Georgia, serif;
  text-align: center;
  padding-top: 18.3351388352px;
  padding-top: 1.1459461772rem;
  padding-bottom: 18.3351388352px;
  padding-bottom: 1.1459461772rem; }
  .time span {
    display: block;
    line-height: 1.2; }
    .time span.num {
      font-size: 48px;
      font-size: 3rem; }
    .time span.hidden {
      display: none; }
    .time span.actual-time {
      font-size: 29.6662546354px;
      font-size: 1.8541409147rem; }

.to {
  text-align: center;
  font-family: "AxelSchefflerSans-Regular", Georgia, serif;
  font-size: 29.6662546354px;
  font-size: 1.8541409147rem; }

sup {
  vertical-align: super;
  font-size: 0.5em; }
