///// MAIN LAYOUT /////

body {
  background:$background-color;
  color:$text-color;

}

html, body {
  height:100%; // for sticky footer - see https://css-tricks.com/snippets/css/sticky-footer/
}

.page-wrap {
  min-height:100%;
  @include margin-bottom(-1 * ($spacing-xl+$spacing-large+$spacing-standard));

}
.wrapper {
  max-width:1024px;
  margin-left:auto;
  margin-right:auto;

}

@media only screen and (max-width:1100px) {
  .wrapper {
    max-width:95%; // stops problems with overhanging punctuation
  }
}

@include gs-media(s,max){
  .wrapper {
    max-width:800px;
  }
}

img {
  max-width:100%;
}

img {
  @include margin-bottom($spacing-standard);
}
figure {
  @include margin-bottom($spacing-standard);
  img {
    margin-bottom:0;
  }
}


.main {
  @include gs-span(l,all);
  @include gs-pad(l,padin);
}

.cssanimations {
  .main {
    @include fadein(1s);
    @include animationdelay(0.5s);
  }
}

@include gs-media(s,max){
  .main {
    @include gs-span(s,all);
    @include gs-pad(s,padinfull);
  }
}

// Footer layout
.footer {
  @include gs-span(l,all);
  @include height($spacing-xl);

  .footer-first {
    @include gs-span(l,1,6);
    @include gs-pad(l,padin);
  }
  .footer-second {
    @include gs-span(l,7,12);
    @include gs-pad(l,padin);
  }
}

@include gs-media(s,max){
  .footer {
    @include gs-span(s,all);
    @include gs-pad(s,padin);
    @include height($spacing-xxxl);
    .footer-first {
      @include gs-span(s,all);
    }
    .footer-second {
      @include gs-span(s,all);
    }
  }
  .page-wrap {
    @include margin-bottom(-1 * ($spacing-xxxl+$spacing-large));
  }
  .homepage .page-wrap {
    @include margin-bottom(-1 * ($spacing-xxl+$spacing-large));

  }

}

// Header layout

.header--standard { // (On every page except the homepage)
  @include gs-span(l,all);
  @include gs-pad(l,padin);
  @include margin-top($spacing-large);
  @include margin-bottom($spacing-xl);
  .name-holder {
    @include gs-span(l,8,12);

  }
  .home-holder {
    @include gs-span(l,1,2);
  }
}
.header { // (On the homepage)
  @include gs-span(l,4,12);
  @include margin-top($spacing-large);
  @include gs-pad(l,padin);

}

@include gs-media(s,max){
  .header--standard  {
    @include gs-span(s,all);
    @include gs-pad(s,padinfull);
    .name-holder {
      @include gs-span(s,3,6);
    }
    .home-holder {
      @include gs-span(s,1,2);
    }
  }
  .header {
    @include gs-span(s,all);
    @include gs-pad(s,padinfull);
  }
}


// Q&A layout

.question {
  @include gs-span(l,1,4);
  clear:left;
  @include margin-bottom($spacing-xl);
}

.answer {
  @include gs-span(l,5,12);
  @include margin-bottom($spacing-xl);
}

@include gs-media(s,max){
  .question, .answer {
    @include gs-span(s,all);
  }
  .question {
    margin-bottom:0;
  }
}

// Books layout
.book-category {
  @include gs-span(l,all);
  clear:left;
  @include margin-bottom($spacing-xl);
}
.book-group {
  @include gs-span(l,all);
  clear:left;

  @include padding-top($spacing-xxl);
  @include padding-bottom($spacing-small);
  .expandy {
    clear:left;
  }
  .expander {
    @include gs-span(l,all);
  }
  .title-holder {
    @include gs-span(l,4,12);

  }
  ul {
    @include gs-span(l,4,12);
    clear:left;
  }
  li {
    @include height($b-scale-4);
    display:block;
    float:left;
    @include margin-right($spacing-small);
    @include margin-bottom($spacing-small);
    img {
      height:100%;
      width:auto;
    }
  }
}

@include gs-media(s,max){
  .book-category {
    @include gs-span(s,all);
  }

  .book-group {
    @include gs-span(s,all);
    .title-holder, ul {
      @include gs-span(s,all);
    }
    li {
      @include height($b-scale-3);
    }
  }

}

// Individual book page layout
.intro {
  @include gs-span(l,1,9);
  clear:left;
  @include margin-bottom($spacing-standard);
}
.book .intro {
  @include gs-span(l,1,7);
}
.cover {
  @include gs-span(l,1,4);
  clear:left;
  @include margin-bottom($spacing-large);
}
.no-feature {
  .cover {
    @include gs-span(l,9,12);
    clear:none;
  }
}
.feature-image { // this sits outside of the grid for images that are cut-off to the right
  width:42%;
  right:0;
  top:21%;
  text-align:right;
  position:absolute;
  z-index:$z-bottom;
  img {max-height:800px;} // just guarding against insanely thin and long images
}
.cssanimations {
  .feature-image img{
    @include animationdelay(1.5s);
    @include simple-slide--left();
  }
}
.axel-says {
  @include gs-span(l,all);
  clear:left;
  @include margin-bottom($spacing-large);
  .image-holder {
    @include gs-span(l,1,3);
  }
  .text-holder {
    @include gs-span(l,5,11);
  }
}

.author-says {
  @include gs-span(l,all);
  clear:left;
  @include margin-bottom($spacing-large);
  .image-holder {
    @include gs-span(l,10,12);
  }
  .text-holder {
    @include gs-span(l,2,8);
  }
}

.sketches {
  @include gs-span(l,all);
  clear:left;
  @include margin-bottom($spacing-large);

}

.buying-options {
  @include gs-span(l,all);
  clear:left;
  @include margin-bottom($spacing-large);
}

// Mobile individual book page layout
@include gs-media(s, max) {
  .intro, .book .intro, .axel-says, .author-says, .sketches, .buying-options {
    @include gs-span(s,all);
    clear:left;
  }
  .axel-says, .author-says {
    .image-holder {
      @include gs-span(s,3,4);
      clear:left;
    }
    .text-holder {
      @include gs-span(s,all);
      clear:left;
      h2 {
        text-align:center;
      }
    }
  }
  .cover {
    @include gs-span(s,2,5);
    clear:left;
    @include margin-bottom($spacing-small);
  }
  .feature-image {
    position:relative;
    @include gs-span(s,all);
    clear:left;
    @include margin-bottom($spacing-standard);
  }

}

/// Timeline layout

.date {
  @include gs-span(l,1,2);
  clear:left;
}
.entry {
  @include gs-span(l,4,12);
}
.entry + .entry {
  clear:left;
}

.timeline {
  @include gs-span(l,all);
  @include margin-bottom($spacing-xxl);
  article {
    @include gs-span(l,all);
    clear:left;
  }
  .image.small {
    @include gs-span(l,4,6,(4,12));
  }
  .image.small + .button-holder {
    @include gs-span(l,7,12,(4,12));
  }
  .image.medium {
    @include gs-span(l,4,8,(4,12));
  }
  .image.medium + .button-holder {
    @include gs-span(l,9,12,(4,12));
  }
  .images + .button-holder {
    @include gs-span(l,all);
    clear:left;
  }
}

// Small screen timeline layout {
@include gs-media(s,max){
.date {
  @include gs-span(s,3,4);
}
.entry {
  @include gs-span(s,all);
  clear:left;
}
.timeline {
  .image.small {
    @include gs-span(s,2,5);
  }
  .image.small + .button-holder {
    @include gs-span(s,all);
    clear:left;
  }
  .image.medium {
    @include gs-span(s,2,5);
  }
  .image.medium + .button-holder {
    @include gs-span(s,all);
    clear:left;
  }
  .images + .button-holder {
    @include gs-span(s,all);
    clear:left;
  }
}

}


// Colouring in list page layout

.circle-grid {
  @include gs-span(l,all);
  &:before, &:after {
    content: " ";
    display: table;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  li {
    @include gs-span(l,1,4);
    clear:left;
    &:nth-child(3n-1){
      @include gs-span(l,5,8);
      clear:none;
    }
    &:nth-child(3n){
      @include gs-span(l,9,12);
      clear:none;
    }
  }
}

// prevnext layout

.prevnext {
  @include gs-span(l,all);
  clear:both;
  @include margin-top($spacing-small);
  .prev {
    @include gs-span(l,1,6);
  }
  .next {
    @include gs-span(l,7,12);
  }
}


// events layout

.event {
  @include gs-span(l,all);
  .details {
    @include gs-span(l,1,3);
  }
  .summary {
    @include gs-span(l,5,12);
  }
  img {
    max-width:47.3748473748%;
  }
}

@include gs-media(s,max) {
  .event {
    .details {
      @include gs-span(s,all);
    }
    .summary {
      @include gs-span(s,all);
    }
    img {
      max-width:100%;
    }
  }
}


.hidden {
  display:none;
}
