/* ==========================================================================
   Useful mixins
   ========================================================================== */


/* ==========================================================================
    Typography mixins - all with + px and then + rem are fallbacks for
    browsers that don't recognise rem
   ========================================================================== */

@mixin font-size($sizeValue) {
  font-size: $sizeValue * 16 + px;
  font-size: $sizeValue + rem;
}

/* ==========================================================================
    Margin and padding mixins
   ========================================================================== */

@mixin margin-bottom($sizeValue) {
  margin-bottom: $sizeValue * 16 + px;
  margin-bottom: $sizeValue + rem;
}

@mixin margin-left($sizeValue) {
  margin-left: $sizeValue * 16 + px;
  margin-left: $sizeValue + rem;
}

@mixin margin-right($sizeValue) {
  margin-right: $sizeValue * 16 + px;
  margin-right: $sizeValue + rem;
}

@mixin margin-top($sizeValue) {
  margin-top: $sizeValue * 16 + px;
  margin-top: $sizeValue + rem;
}

@mixin padding-bottom($sizeValue) {
  padding-bottom: $sizeValue * 16 + px;
  padding-bottom: $sizeValue + rem;
}
@mixin padding-left($sizeValue) {
  padding-left: $sizeValue * 16 + px;
  padding-left: $sizeValue + rem;
}

@mixin padding-right($sizeValue) {
  padding-right: $sizeValue * 16 + px;
  padding-right: $sizeValue + rem;
}
@mixin padding-top($sizeValue) {
  padding-top: $sizeValue * 16 + px;
  padding-top: $sizeValue + rem;
}

@mixin padding($sizeValue) {
  padding: $sizeValue * 16 + px;
  padding: $sizeValue + rem;
}

@mixin width($sizeValue) {
  width: $sizeValue * 16 + px;
  width: $sizeValue + rem;
}

@mixin height($sizeValue) {
  height: $sizeValue * 16 + px;
  height: $sizeValue + rem;
}

@mixin min-height($sizeValue) {
  min-height: $sizeValue * 16 + px;
  min-height: $sizeValue + rem;
}

@mixin right($sizeValue) {
  right: $sizeValue * 16 + px;
  right: $sizeValue + rem;
}

@mixin left($sizeValue) {
  left: $sizeValue * 16 + px;
  left: $sizeValue + rem;
}

@mixin top($sizeValue) {
  top: $sizeValue * 16 + px;
  top: $sizeValue + rem;
}

@mixin bottom($sizeValue) {
  bottom: $sizeValue * 16 + px;
  bottom: $sizeValue + rem;
}

/*
==============================================
ANIMATION
==============================================
*/
/// FADEIN

// Fade in definitions
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@mixin fadein($duration) {
  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:$duration;
}

@mixin animationdelay($delay) {
  animation-delay: $delay;
}

/// SLIDEUP

@mixin slideUp($duration){
	animation-name: slideUp;
	animation-duration: $duration;
	animation-timing-function: ease;

  animation-fill-mode:forwards;
  visibility: visible;
}

@keyframes slideUp {
	0% {
    transform: translateY(10%);
    opacity:0;
	}
	50%{
		transform: translateY(-4%);
	}
	65%{
		transform: translateY(2%);
    opacity:1;
	}
	80%{
		transform: translateY(-2%);
	}
	95%{
		transform: translateY(1%);
	}
	100% {
		transform: translateY(0%);
    opacity:1;
	}
}

/// SLIDEDOWN

@mixin slideDown($duration){
	animation-name: slideDown;
	animation-duration: $duration;
	animation-timing-function: ease;

  animation-fill-mode:forwards;
  visibility: visible;
}

@keyframes slideDown {
	0% {
    transform: translateY(-10%);
    opacity:0;
	}
	50%{
		transform: translateY(0%);
	}
	75%{
		transform: translateY(-2%);
    opacity:1;
	}
	100% {
		transform: translateY(0%);
    opacity:1;
	}
}

/// FLOATING

@mixin floating(){
	animation-name: floating;

	animation-duration: 1.5s;

	animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(1%);
	}
	100% {
		transform: translateY(0%);
	}
}

/// fadetogrey

@mixin fadetogrey() {
  animation-name: fadetogrey;
  animation-fill-mode:forwards;
	animation-duration: 4s;
  opacity:0;
}

@keyframes fadetogrey {
	0% {
		filter: grayscale(0);
    opacity:0;
	}
	50% {
		filter: grayscale(0);
    opacity: 1;
	}
	100% {
		filter: grayscale(1);
    opacity: 1;
	}
}

/// bigentrance

@mixin bigentrance() {
	animation-name: bigEntrance;


	animation-duration: 1.6s;


	animation-timing-function: ease-out;


	visibility: visible !important;
  opacity:0;
  animation-fill-mode:forwards;
}

@keyframes bigEntrance {
	0% {
		transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
		opacity: 0.2;
	}
	30% {
		transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
		opacity: 1;
	}
	45% {
		transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	60% {
		transform: scale(1.01) rotate(-1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	75% {
		transform: scale(0.99) rotate(1deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	90% {
		transform: scale(1.01) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
		opacity: 1;
	}
}

/// simpleslide left

@mixin simple-slide--left {
  animation-name: simple-slide--left;
	animation-duration: 1s;
	animation-timing-function: ease-out;
  opacity:0;
  animation-fill-mode:forwards;
}

@keyframes simple-slide--left {
  from {
    transform:translateX(100%);
    opacity:0;
  }
  to {
    transform:translateX(0%);
    opacity:1;
  }
}
