//// Variables - for variables only ////

/* == Colours == */

$off-white: #FFFDF8;
$mid-grey: #7F7E7B;
$light-grey: #E5E3DE;
$dark-grey: #333231;
$blue: #005BA3;
$green: #00925E;
$red: #D0021B;
$orange: #E64626;
$purple: #7363AB;
$pink: #D80079;
$yellow: #F3C300;

// Usage

$background-color: $off-white;
$text-color: $dark-grey;
$link-color: $green;
$hover-color: $blue;
$active-color: $orange;
$button-color: $dark-grey;

// Section colours

$books-color: $green;
$about-color: $red;
$faqs-color: $pink;

/* == Modular Scale == */

/* http://modularscale.com */
$ratio:1.618;
$default:16; /* current accepted 'default' pixel size browsers use */
$base-number:22;
$important-number:48;

/* $a-scale is based on $base-number */
$a-scale:$base-number/$default; /* this is the base font size */
$a-scale-2:$a-scale*$ratio;
$a-scale-3:$a-scale-2*$ratio;
$a-scale-4:$a-scale-3*$ratio;
$a-scale-5:$a-scale-4*$ratio;
$a-scale-6:$a-scale-5*$ratio;
$a-scale-7:$a-scale-6*$ratio;
$a-scale-8:$a-scale-7*$ratio;

/* $a-scale-- is based on $a-scale and gives smaller numbers */
$a-scale-:$a-scale;
$a-scale--2:$a-scale-/$ratio;
$a-scale--3:$a-scale--2/$ratio;
$a-scale--4:$a-scale--3/$ratio;
$a-scale--5:$a-scale--4/$ratio;
$a-scale--6:$a-scale--5/$ratio;

/* b-scale is based on $important-number */
$b-scale:$important-number/$default; /* these are additional numbers based on $important-number */
$b-scale-2:$b-scale*$ratio;
$b-scale-3:$b-scale-2*$ratio;
$b-scale-4:$b-scale-3*$ratio;
$b-scale-5:$b-scale-4*$ratio;
$b-scale-6:$b-scale-5*$ratio;
$b-scale-7:$b-scale-6*$ratio;
$b-scale-8:$b-scale-7*$ratio;

/* $b-scale- is based on $important-number and gives smaller numbers */
$b-scale-:$b-scale;
$b-scale--2:$b-scale-/$ratio;
$b-scale--3:$b-scale--2/$ratio;
$b-scale--4:$b-scale--3/$ratio;
$b-scale--5:$b-scale--4/$ratio;
$b-scale--6:$b-scale--5/$ratio;

/* == Typography == */

// Font stack
$base-font: 'Caudex', Georgia, Times, serif;
$base-font-weight:400;
$axel-font: 'AxelSchefflerSans-Regular', Georgia, serif;

// Font sizes
$size-p: $a-scale;
$size-h1: $b-scale;
$size-h2: $a-scale-2;
$size-h3: $b-scale--2;
$size-h4: $a-scale;
$size-small: $b-scale--3;
$size-extra-small: $a-scale--2;

// Line heights
$base-line-height: $ratio;
$medium-line-height:1.5;
$small-line-height:1.2;
$heading-line-height: 1.1;

// Typography margins
$margin-p: $a-scale;
$margin-h1: $a-scale;
$margin-h2: $b-scale--2;
$margin-h3: $a-scale--2;
$margin-h4: $b-scale--3;
$margin-li: $b-scale--3;
$margin-ul: $a-scale;
$padding-ul: $a-scale-2;


/* == Spacing == */
$spacing-standard: $a-scale;
$spacing-large: $b-scale;
$spacing-small: $b-scale--3;
$spacing-xl: $a-scale-3;
$spacing-xxl: $b-scale-2;
$spacing-xxxl: $b-scale-3;


/* == Transitions == */
$link-transition: all 0.5s ease;

/* == Paths == */
$img-path: "/assets/img/";
$font-path: "/assets/fonts/";


/* == Z index == */
$z-bottom: -1000;
